ExternalPartiesSystem-ejb/src/conf/xml-resources/web-service-references/MerlionBankWebService/wsdl/localhost_8080/MerlionBankWebService/MerlionBankWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://session.ws.ejb/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://session.ws.ejb/">

<xs:element name="bankAccount" type="tns:bankAccount"/>

<xs:element name="debitBankAccount" type="tns:debitBankAccount"/>

<xs:element name="debitBankAccountResponse" type="tns:debitBankAccountResponse"/>

<xs:element name="retrieveBankAccountByNum" type="tns:retrieveBankAccountByNum"/>

<xs:element name="retrieveBankAccountByNumResponse" type="tns:retrieveBankAccountByNumResponse"/>

<xs:complexType name="retrieveBankAccountByNum">
<xs:sequence>
<xs:element name="bankAccountNum" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveBankAccountByNumResponse">
<xs:sequence>
<xs:element name="return" type="tns:bankAccount" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="bankAccount">
<xs:sequence>
<xs:element name="bankAccountId" type="xs:long" minOccurs="0"/>
<xs:element name="bankAccountNum" type="xs:string" minOccurs="0"/>
<xs:element name="bankAccountType" type="xs:string" minOccurs="0"/>
<xs:element name="totalBankAccountBalance" type="xs:string" minOccurs="0"/>
<xs:element name="availableBankAccountBalance" type="xs:string" minOccurs="0"/>
<xs:element name="transferDailyLimit" type="xs:string" minOccurs="0"/>
<xs:element name="transferBalance" type="xs:string" minOccurs="0"/>
<xs:element name="bankAccountStatus" type="xs:string" minOccurs="0"/>
<xs:element name="bankAccountMinSaving" type="xs:string" minOccurs="0"/>
<xs:element name="bankAccountDepositPeriod" type="xs:string" minOccurs="0"/>
<xs:element name="currentFixedDepositPeriod" type="xs:string" minOccurs="0"/>
<xs:element name="fixedDepositStatus" type="xs:string" minOccurs="0"/>
<xs:element name="statementDateDouble" type="xs:double" minOccurs="0"/>
<xs:element name="debitCards" type="tns:debitCard" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="accTransaction" type="tns:accTransaction" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="customerBasic" type="tns:customerBasic" minOccurs="0"/>
<xs:element name="interest" type="tns:interest" minOccurs="0"/>
<xs:element name="statement" type="tns:statement" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="debitCard">
<xs:complexContent>
<xs:extension base="tns:card">
<xs:sequence>
<xs:element name="bankAccount" type="tns:bankAccount" minOccurs="0"/>
<xs:element name="debitCardPwd" type="xs:string" minOccurs="0"/>
<xs:element name="debitCardType" type="tns:debitCardType" minOccurs="0"/>
<xs:element name="transactionLimit" type="xs:int"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="card">
<xs:sequence>
<xs:element name="cardExpiryDate" type="xs:string" minOccurs="0"/>
<xs:element name="cardHolderName" type="xs:string" minOccurs="0"/>
<xs:element name="cardId" type="xs:long" minOccurs="0"/>
<xs:element name="cardNum" type="xs:string" minOccurs="0"/>
<xs:element name="cardSecurityCode" type="xs:string" minOccurs="0"/>
<xs:element name="predecessor" type="xs:long" minOccurs="0"/>
<xs:element name="remainingExpirationMonths" type="xs:int"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="debitCardType">
<xs:sequence>
<xs:element name="annualFeeWaiver" type="xs:string" minOccurs="0"/>
<xs:element name="cashBackRate" type="xs:double"/>
<xs:element name="debitCardTypeId" type="xs:long" minOccurs="0"/>
<xs:element name="debitCardTypeName" type="xs:string" minOccurs="0"/>
<xs:element name="debitCards" type="tns:debitCard" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="principal" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="accTransaction">
<xs:sequence>
<xs:element name="accountCredit" type="xs:string" minOccurs="0"/>
<xs:element name="accountDebit" type="xs:string" minOccurs="0"/>
<xs:element name="bankAccount" type="tns:bankAccount" minOccurs="0"/>
<xs:element name="transactionCode" type="xs:string" minOccurs="0"/>
<xs:element name="transactionDate" type="xs:string" minOccurs="0"/>
<xs:element name="transactionDateMilis" type="xs:long" minOccurs="0"/>
<xs:element name="transactionId" type="xs:long" minOccurs="0"/>
<xs:element name="transactionRef" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="customerBasic">
<xs:sequence>
<xs:element name="bankAccount" type="tns:bankAccount" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="cheque" type="tns:cheque" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="creditCard" type="tns:creditCard" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="customerAddress" type="xs:string" minOccurs="0"/>
<xs:element name="customerAdvanced" type="tns:customerAdvanced" minOccurs="0"/>
<xs:element name="customerAge" type="xs:string" minOccurs="0"/>
<xs:element name="customerBasicId" type="xs:long" minOccurs="0"/>
<xs:element name="customerCompany" type="xs:string" minOccurs="0"/>
<xs:element name="customerCountryOfResidence" type="xs:string" minOccurs="0"/>
<xs:element name="customerDateOfBirth" type="xs:string" minOccurs="0"/>
<xs:element name="customerEmail" type="xs:string" minOccurs="0"/>
<xs:element name="customerGender" type="xs:string" minOccurs="0"/>
<xs:element name="customerIdentificationNum" type="xs:string" minOccurs="0"/>
<xs:element name="customerMaritalStatus" type="xs:string" minOccurs="0"/>
<xs:element name="customerMobile" type="xs:string" minOccurs="0"/>
<xs:element name="customerName" type="xs:string" minOccurs="0"/>
<xs:element name="customerNationality" type="xs:string" minOccurs="0"/>
<xs:element name="customerOTPSecret" type="xs:string" minOccurs="0"/>
<xs:element name="customerOccupation" type="xs:string" minOccurs="0"/>
<xs:element name="customerOnlineBankingAccountLocked" type="xs:string" minOccurs="0"/>
<xs:element name="customerOnlineBankingAccountNum" type="xs:string" minOccurs="0"/>
<xs:element name="customerOnlineBankingPassword" type="xs:string" minOccurs="0"/>
<xs:element name="customerPayeeNum" type="xs:string" minOccurs="0"/>
<xs:element name="customerPostal" type="xs:string" minOccurs="0"/>
<xs:element name="customerRace" type="xs:string" minOccurs="0"/>
<xs:element name="customerSalutation" type="xs:string" minOccurs="0"/>
<xs:element name="customerSignature" type="xs:base64Binary" minOccurs="0"/>
<xs:element name="customerStatus" type="xs:string" minOccurs="0"/>
<xs:element name="enquiryCase" type="tns:enquiryCase" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="fastPayee" type="tns:fastPayee" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="giro" type="tns:giro" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="messageBox" type="tns:messageBox" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="newCustomer" type="xs:string" minOccurs="0"/>
<xs:element name="payee" type="tns:payee" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cheque">
<xs:sequence>
<xs:element name="chequeId" type="xs:long" minOccurs="0"/>
<xs:element name="chequeMICRData" type="xs:string" minOccurs="0"/>
<xs:element name="customerBasic" type="tns:customerBasic" minOccurs="0"/>
<xs:element name="transactionAmt" type="xs:string" minOccurs="0"/>
<xs:element name="transactionDate" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="creditCard">
<xs:complexContent>
<xs:extension base="tns:card">
<xs:sequence>
<xs:element name="creditCardType" type="tns:creditCardType" minOccurs="0"/>
<xs:element name="creditLimit" type="xs:double"/>
<xs:element name="customerBasic" type="tns:customerBasic" minOccurs="0"/>
<xs:element name="outstandingBalance" type="xs:double"/>
<xs:element name="supplementaryCard" type="tns:supplementaryCard" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="creditCardType">
<xs:sequence>
<xs:element name="annualFee" type="xs:double"/>
<xs:element name="cardNetwork" type="xs:string" minOccurs="0"/>
<xs:element name="creditCard" type="tns:creditCard" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="creditCardTypeId" type="xs:long" minOccurs="0"/>
<xs:element name="creditCardTypeName" type="xs:string" minOccurs="0"/>
<xs:element name="interestCharge" type="xs:double"/>
<xs:element name="latePaymentCharge" type="xs:double"/>
<xs:element name="maxLiability" type="xs:double"/>
<xs:element name="minSum" type="xs:double"/>
<xs:element name="rebate" type="xs:double"/>
<xs:element name="rebateType" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="supplementaryCard">
<xs:complexContent>
<xs:extension base="tns:card">
<xs:sequence>
<xs:element name="creditCard" type="tns:creditCard" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="customerAdvanced">
<xs:sequence>
<xs:element name="customerAdvancedId" type="xs:long" minOccurs="0"/>
<xs:element name="customerBasic" type="tns:customerBasic" minOccurs="0"/>
<xs:element name="customerOnlineBankingAccountNum" type="xs:string" minOccurs="0"/>
<xs:element name="education" type="xs:string" minOccurs="0"/>
<xs:element name="employee" type="tns:employee" minOccurs="0"/>
<xs:element name="incomeMonthly" type="xs:string" minOccurs="0"/>
<xs:element name="jobDuration" type="xs:string" minOccurs="0"/>
<xs:element name="jobIndustry" type="xs:string" minOccurs="0"/>
<xs:element name="jobStatus" type="xs:string" minOccurs="0"/>
<xs:element name="jobType" type="xs:string" minOccurs="0"/>
<xs:element name="numOfDependent" type="xs:string" minOccurs="0"/>
<xs:element name="residentialStatus" type="xs:string" minOccurs="0"/>
<xs:element name="yearInResidence" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="employee">
<xs:sequence>
<xs:element name="customerAdvanced" type="tns:customerAdvanced" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="employeeAccountNum" type="xs:string" minOccurs="0"/>
<xs:element name="employeeDepartment" type="xs:string" minOccurs="0"/>
<xs:element name="employeeEmail" type="xs:string" minOccurs="0"/>
<xs:element name="employeeGender" type="xs:string" minOccurs="0"/>
<xs:element name="employeeId" type="xs:long" minOccurs="0"/>
<xs:element name="employeeMobileNum" type="xs:string" minOccurs="0"/>
<xs:element name="employeeNRIC" type="xs:string" minOccurs="0"/>
<xs:element name="employeeName" type="xs:string" minOccurs="0"/>
<xs:element name="employeePassword" type="xs:string" minOccurs="0"/>
<xs:element name="employeePosition" type="xs:string" minOccurs="0"/>
<xs:element name="employeeStatus" type="xs:string" minOccurs="0"/>
<xs:element name="logInStatus" type="xs:string" minOccurs="0"/>
<xs:element name="role" type="tns:role" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="role">
<xs:sequence>
<xs:element name="employee" type="tns:employee" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="permissions" type="tns:permission" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="roleId" type="xs:long" minOccurs="0"/>
<xs:element name="roleName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="permission">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="permissionName" type="xs:string" minOccurs="0"/>
<xs:element name="roles" type="tns:role" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="urlList" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="enquiryCase">
<xs:sequence>
<xs:element name="caseDetail" type="xs:string" minOccurs="0"/>
<xs:element name="caseId" type="xs:long" minOccurs="0"/>
<xs:element name="caseReply" type="xs:string" minOccurs="0"/>
<xs:element name="caseStatus" type="xs:string" minOccurs="0"/>
<xs:element name="caseType" type="xs:string" minOccurs="0"/>
<xs:element name="createdTime" type="xs:string" minOccurs="0"/>
<xs:element name="customerBasic" type="tns:customerBasic" minOccurs="0"/>
<xs:element name="followUp" type="tns:followUp" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="issue" type="tns:issue" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="followUp">
<xs:sequence>
<xs:element name="enquiryCase" type="tns:enquiryCase" minOccurs="0"/>
<xs:element name="followUpDetail" type="xs:string" minOccurs="0"/>
<xs:element name="followUpId" type="xs:long" minOccurs="0"/>
<xs:element name="followUpSolution" type="xs:string" minOccurs="0"/>
<xs:element name="followUpStatus" type="xs:string" minOccurs="0"/>
<xs:element name="sendTime" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="issue">
<xs:sequence>
<xs:element name="createdTime" type="xs:string" minOccurs="0"/>
<xs:element name="departmentTo" type="xs:string" minOccurs="0"/>
<xs:element name="enquiryCase" type="tns:enquiryCase" minOccurs="0"/>
<xs:element name="issueId" type="xs:long" minOccurs="0"/>
<xs:element name="issueProblem" type="xs:string" minOccurs="0"/>
<xs:element name="issueSolution" type="xs:string" minOccurs="0"/>
<xs:element name="issueStatus" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fastPayee">
<xs:sequence>
<xs:element name="customerBasic" type="tns:customerBasic" minOccurs="0"/>
<xs:element name="fastPayeeAccountNum" type="xs:string" minOccurs="0"/>
<xs:element name="fastPayeeAccountType" type="xs:string" minOccurs="0"/>
<xs:element name="fastPayeeId" type="xs:long" minOccurs="0"/>
<xs:element name="fastPayeeName" type="xs:string" minOccurs="0"/>
<xs:element name="lastTransactionDate" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="giro">
<xs:sequence>
<xs:element name="bankAccountNum" type="xs:string" minOccurs="0"/>
<xs:element name="bankAccountNumWithType" type="xs:string" minOccurs="0"/>
<xs:element name="billReference" type="xs:string" minOccurs="0"/>
<xs:element name="billingOrganizationName" type="xs:string" minOccurs="0"/>
<xs:element name="customerBasic" type="tns:customerBasic" minOccurs="0"/>
<xs:element name="giroId" type="xs:long" minOccurs="0"/>
<xs:element name="giroType" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="messageBox">
<xs:sequence>
<xs:element name="customerBasic" type="tns:customerBasic" minOccurs="0"/>
<xs:element name="fromWhere" type="xs:string" minOccurs="0"/>
<xs:element name="messageContent" type="xs:string" minOccurs="0"/>
<xs:element name="messageId" type="xs:long" minOccurs="0"/>
<xs:element name="messageType" type="xs:string" minOccurs="0"/>
<xs:element name="receivedDate" type="xs:string" minOccurs="0"/>
<xs:element name="subject" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="payee">
<xs:sequence>
<xs:element name="customerBasic" type="tns:customerBasic" minOccurs="0"/>
<xs:element name="lastTransactionDate" type="xs:string" minOccurs="0"/>
<xs:element name="payeeAccountNum" type="xs:string" minOccurs="0"/>
<xs:element name="payeeAccountType" type="xs:string" minOccurs="0"/>
<xs:element name="payeeId" type="xs:long" minOccurs="0"/>
<xs:element name="payeeName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="interest">
<xs:sequence>
<xs:element name="bankAccount" type="tns:bankAccount" minOccurs="0"/>
<xs:element name="dailyInterest" type="xs:string" minOccurs="0"/>
<xs:element name="interestId" type="xs:long" minOccurs="0"/>
<xs:element name="isTransfer" type="xs:string" minOccurs="0"/>
<xs:element name="isWithdraw" type="xs:string" minOccurs="0"/>
<xs:element name="monthlyInterest" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="statement">
<xs:sequence>
<xs:element name="accountDetails" type="xs:string" minOccurs="0"/>
<xs:element name="bankAccount" type="tns:bankAccount" minOccurs="0"/>
<xs:element name="endTime" type="xs:long" minOccurs="0"/>
<xs:element name="startTime" type="xs:long" minOccurs="0"/>
<xs:element name="statementDate" type="xs:string" minOccurs="0"/>
<xs:element name="statementId" type="xs:long" minOccurs="0"/>
<xs:element name="statementType" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="debitBankAccount">
<xs:sequence>
<xs:element name="debitBankAccountNum" type="xs:string" minOccurs="0"/>
<xs:element name="debitAmt" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="debitBankAccountResponse">
<xs:sequence/>
</xs:complexType>
</xs:schema>