ExternalPartiesSystem-ejb/src/conf/wsdl/localhost_8080/MerlionBankWebService/MerlionBankWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://session.ws.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://session.ws.ejb/" name="MerlionBankWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://session.ws.ejb/" schemaLocation="http://localhost:8080/MerlionBankWebService/MerlionBankWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="settleEachBankAccount">
<part name="parameters" element="tns:settleEachBankAccount"/>
</message>
<message name="settleEachBankAccountResponse">
<part name="parameters" element="tns:settleEachBankAccountResponse"/>
</message>
<message name="retrieveBankAccountByNum">
<part name="parameters" element="tns:retrieveBankAccountByNum"/>
</message>
<message name="retrieveBankAccountByNumResponse">
<part name="parameters" element="tns:retrieveBankAccountByNumResponse"/>
</message>
<message name="debitBankAccount">
<part name="parameters" element="tns:debitBankAccount"/>
</message>
<message name="debitBankAccountResponse">
<part name="parameters" element="tns:debitBankAccountResponse"/>
</message>
<message name="addNewRecord">
<part name="parameters" element="tns:addNewRecord"/>
</message>
<message name="addNewRecordResponse">
<part name="parameters" element="tns:addNewRecordResponse"/>
</message>
<message name="updateAvailableBalance">
<part name="parameters" element="tns:updateAvailableBalance"/>
</message>
<message name="updateAvailableBalanceResponse">
<part name="parameters" element="tns:updateAvailableBalanceResponse"/>
</message>
<portType name="MerlionBankWebService">
<operation name="settleEachBankAccount">
<input wsam:Action="http://session.ws.ejb/MerlionBankWebService/settleEachBankAccountRequest" message="tns:settleEachBankAccount"/>
<output wsam:Action="http://session.ws.ejb/MerlionBankWebService/settleEachBankAccountResponse" message="tns:settleEachBankAccountResponse"/>
</operation>
<operation name="retrieveBankAccountByNum">
<input wsam:Action="http://session.ws.ejb/MerlionBankWebService/retrieveBankAccountByNumRequest" message="tns:retrieveBankAccountByNum"/>
<output wsam:Action="http://session.ws.ejb/MerlionBankWebService/retrieveBankAccountByNumResponse" message="tns:retrieveBankAccountByNumResponse"/>
</operation>
<operation name="debitBankAccount">
<input wsam:Action="http://session.ws.ejb/MerlionBankWebService/debitBankAccountRequest" message="tns:debitBankAccount"/>
<output wsam:Action="http://session.ws.ejb/MerlionBankWebService/debitBankAccountResponse" message="tns:debitBankAccountResponse"/>
</operation>
<operation name="addNewRecord">
<input wsam:Action="http://session.ws.ejb/MerlionBankWebService/addNewRecordRequest" message="tns:addNewRecord"/>
<output wsam:Action="http://session.ws.ejb/MerlionBankWebService/addNewRecordResponse" message="tns:addNewRecordResponse"/>
</operation>
<operation name="updateAvailableBalance">
<input wsam:Action="http://session.ws.ejb/MerlionBankWebService/updateAvailableBalanceRequest" message="tns:updateAvailableBalance"/>
<output wsam:Action="http://session.ws.ejb/MerlionBankWebService/updateAvailableBalanceResponse" message="tns:updateAvailableBalanceResponse"/>
</operation>
</portType>
<binding name="MerlionBankWebServicePortBinding" type="tns:MerlionBankWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="settleEachBankAccount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveBankAccountByNum">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="debitBankAccount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addNewRecord">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateAvailableBalance">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="MerlionBankWebService">
<port name="MerlionBankWebServicePort" binding="tns:MerlionBankWebServicePortBinding">
<soap:address location="http://localhost:8080/MerlionBankWebService/MerlionBankWebService"/>
</port>
</service>
</definitions>