ExternalPartiesSystem-war/src/conf/xml-resources/web-service-references/MerlionBankWebService/wsdl/localhost_8080/MerlionBankWebService/MerlionBankWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://session.ws.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://session.ws.ejb/" name="MerlionBankWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://session.ws.ejb/" schemaLocation="http://localhost:8080/MerlionBankWebService/MerlionBankWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="addNewRecord">
<part name="parameters" element="tns:addNewRecord"/>
</message>
<message name="addNewRecordResponse">
<part name="parameters" element="tns:addNewRecordResponse"/>
</message>
<message name="retrieveOnHoldRecordById">
<part name="parameters" element="tns:retrieveOnHoldRecordById"/>
</message>
<message name="retrieveOnHoldRecordByIdResponse">
<part name="parameters" element="tns:retrieveOnHoldRecordByIdResponse"/>
</message>
<message name="updateOnHoldChequeNum">
<part name="parameters" element="tns:updateOnHoldChequeNum"/>
</message>
<message name="updateOnHoldChequeNumResponse">
<part name="parameters" element="tns:updateOnHoldChequeNumResponse"/>
</message>
<message name="retrieveBankAccountByNum">
<part name="parameters" element="tns:retrieveBankAccountByNum"/>
</message>
<message name="retrieveBankAccountByNumResponse">
<part name="parameters" element="tns:retrieveBankAccountByNumResponse"/>
</message>
<message name="debitBankAccount">
<part name="parameters" element="tns:debitBankAccount"/>
</message>
<message name="debitBankAccountResponse">
<part name="parameters" element="tns:debitBankAccountResponse"/>
</message>
<message name="settleEachBankAccount">
<part name="parameters" element="tns:settleEachBankAccount"/>
</message>
<message name="settleEachBankAccountResponse">
<part name="parameters" element="tns:settleEachBankAccountResponse"/>
</message>
<message name="updateAvailableBalance">
<part name="parameters" element="tns:updateAvailableBalance"/>
</message>
<message name="updateAvailableBalanceResponse">
<part name="parameters" element="tns:updateAvailableBalanceResponse"/>
</message>
<message name="retrieveChequeById">
<part name="parameters" element="tns:retrieveChequeById"/>
</message>
<message name="retrieveChequeByIdResponse">
<part name="parameters" element="tns:retrieveChequeByIdResponse"/>
</message>
<message name="retrieveReceivedChequeById">
<part name="parameters" element="tns:retrieveReceivedChequeById"/>
</message>
<message name="retrieveReceivedChequeByIdResponse">
<part name="parameters" element="tns:retrieveReceivedChequeByIdResponse"/>
</message>
<message name="updateReceivedChequeStatus">
<part name="parameters" element="tns:updateReceivedChequeStatus"/>
</message>
<message name="updateReceivedChequeStatusResponse">
<part name="parameters" element="tns:updateReceivedChequeStatusResponse"/>
</message>
<message name="receiveChequeInformationFromSACH">
<part name="parameters" element="tns:receiveChequeInformationFromSACH"/>
</message>
<message name="receiveChequeInformationFromSACHResponse">
<part name="parameters" element="tns:receiveChequeInformationFromSACHResponse"/>
</message>
<message name="retrieveReceivedChequeByNum">
<part name="parameters" element="tns:retrieveReceivedChequeByNum"/>
</message>
<message name="retrieveReceivedChequeByNumResponse">
<part name="parameters" element="tns:retrieveReceivedChequeByNumResponse"/>
</message>
<message name="rejectRegularGIROTransaction">
<part name="parameters" element="tns:rejectRegularGIROTransaction"/>
</message>
<message name="rejectRegularGIROTransactionResponse">
<part name="parameters" element="tns:rejectRegularGIROTransactionResponse"/>
</message>
<message name="rejectStandingGIROTransaction">
<part name="parameters" element="tns:rejectStandingGIROTransaction"/>
</message>
<message name="rejectStandingGIROTransactionResponse">
<part name="parameters" element="tns:rejectStandingGIROTransactionResponse"/>
</message>
<message name="rejectNonStandingGIROTransaction">
<part name="parameters" element="tns:rejectNonStandingGIROTransaction"/>
</message>
<message name="rejectNonStandingGIROTransactionResponse">
<part name="parameters" element="tns:rejectNonStandingGIROTransactionResponse"/>
</message>
<message name="approveNonStandingGIROTransaction">
<part name="parameters" element="tns:approveNonStandingGIROTransaction"/>
</message>
<message name="approveNonStandingGIROTransactionResponse">
<part name="parameters" element="tns:approveNonStandingGIROTransactionResponse"/>
</message>
<portType name="MerlionBankWebService">
<operation name="addNewRecord">
<input wsam:Action="http://session.ws.ejb/MerlionBankWebService/addNewRecordRequest" message="tns:addNewRecord"/>
<output wsam:Action="http://session.ws.ejb/MerlionBankWebService/addNewRecordResponse" message="tns:addNewRecordResponse"/>
</operation>
<operation name="retrieveOnHoldRecordById">
<input wsam:Action="http://session.ws.ejb/MerlionBankWebService/retrieveOnHoldRecordByIdRequest" message="tns:retrieveOnHoldRecordById"/>
<output wsam:Action="http://session.ws.ejb/MerlionBankWebService/retrieveOnHoldRecordByIdResponse" message="tns:retrieveOnHoldRecordByIdResponse"/>
</operation>
<operation name="updateOnHoldChequeNum">
<input wsam:Action="http://session.ws.ejb/MerlionBankWebService/updateOnHoldChequeNumRequest" message="tns:updateOnHoldChequeNum"/>
<output wsam:Action="http://session.ws.ejb/MerlionBankWebService/updateOnHoldChequeNumResponse" message="tns:updateOnHoldChequeNumResponse"/>
</operation>
<operation name="retrieveBankAccountByNum">
<input wsam:Action="http://session.ws.ejb/MerlionBankWebService/retrieveBankAccountByNumRequest" message="tns:retrieveBankAccountByNum"/>
<output wsam:Action="http://session.ws.ejb/MerlionBankWebService/retrieveBankAccountByNumResponse" message="tns:retrieveBankAccountByNumResponse"/>
</operation>
<operation name="debitBankAccount">
<input wsam:Action="http://session.ws.ejb/MerlionBankWebService/debitBankAccountRequest" message="tns:debitBankAccount"/>
<output wsam:Action="http://session.ws.ejb/MerlionBankWebService/debitBankAccountResponse" message="tns:debitBankAccountResponse"/>
</operation>
<operation name="settleEachBankAccount">
<input wsam:Action="http://session.ws.ejb/MerlionBankWebService/settleEachBankAccountRequest" message="tns:settleEachBankAccount"/>
<output wsam:Action="http://session.ws.ejb/MerlionBankWebService/settleEachBankAccountResponse" message="tns:settleEachBankAccountResponse"/>
</operation>
<operation name="updateAvailableBalance">
<input wsam:Action="http://session.ws.ejb/MerlionBankWebService/updateAvailableBalanceRequest" message="tns:updateAvailableBalance"/>
<output wsam:Action="http://session.ws.ejb/MerlionBankWebService/updateAvailableBalanceResponse" message="tns:updateAvailableBalanceResponse"/>
</operation>
<operation name="retrieveChequeById">
<input wsam:Action="http://session.ws.ejb/MerlionBankWebService/retrieveChequeByIdRequest" message="tns:retrieveChequeById"/>
<output wsam:Action="http://session.ws.ejb/MerlionBankWebService/retrieveChequeByIdResponse" message="tns:retrieveChequeByIdResponse"/>
</operation>
<operation name="retrieveReceivedChequeById">
<input wsam:Action="http://session.ws.ejb/MerlionBankWebService/retrieveReceivedChequeByIdRequest" message="tns:retrieveReceivedChequeById"/>
<output wsam:Action="http://session.ws.ejb/MerlionBankWebService/retrieveReceivedChequeByIdResponse" message="tns:retrieveReceivedChequeByIdResponse"/>
</operation>
<operation name="updateReceivedChequeStatus">
<input wsam:Action="http://session.ws.ejb/MerlionBankWebService/updateReceivedChequeStatusRequest" message="tns:updateReceivedChequeStatus"/>
<output wsam:Action="http://session.ws.ejb/MerlionBankWebService/updateReceivedChequeStatusResponse" message="tns:updateReceivedChequeStatusResponse"/>
</operation>
<operation name="receiveChequeInformationFromSACH">
<input wsam:Action="http://session.ws.ejb/MerlionBankWebService/receiveChequeInformationFromSACHRequest" message="tns:receiveChequeInformationFromSACH"/>
<output wsam:Action="http://session.ws.ejb/MerlionBankWebService/receiveChequeInformationFromSACHResponse" message="tns:receiveChequeInformationFromSACHResponse"/>
</operation>
<operation name="retrieveReceivedChequeByNum">
<input wsam:Action="http://session.ws.ejb/MerlionBankWebService/retrieveReceivedChequeByNumRequest" message="tns:retrieveReceivedChequeByNum"/>
<output wsam:Action="http://session.ws.ejb/MerlionBankWebService/retrieveReceivedChequeByNumResponse" message="tns:retrieveReceivedChequeByNumResponse"/>
</operation>
<operation name="rejectRegularGIROTransaction">
<input wsam:Action="http://session.ws.ejb/MerlionBankWebService/rejectRegularGIROTransactionRequest" message="tns:rejectRegularGIROTransaction"/>
<output wsam:Action="http://session.ws.ejb/MerlionBankWebService/rejectRegularGIROTransactionResponse" message="tns:rejectRegularGIROTransactionResponse"/>
</operation>
<operation name="rejectStandingGIROTransaction">
<input wsam:Action="http://session.ws.ejb/MerlionBankWebService/rejectStandingGIROTransactionRequest" message="tns:rejectStandingGIROTransaction"/>
<output wsam:Action="http://session.ws.ejb/MerlionBankWebService/rejectStandingGIROTransactionResponse" message="tns:rejectStandingGIROTransactionResponse"/>
</operation>
<operation name="rejectNonStandingGIROTransaction">
<input wsam:Action="http://session.ws.ejb/MerlionBankWebService/rejectNonStandingGIROTransactionRequest" message="tns:rejectNonStandingGIROTransaction"/>
<output wsam:Action="http://session.ws.ejb/MerlionBankWebService/rejectNonStandingGIROTransactionResponse" message="tns:rejectNonStandingGIROTransactionResponse"/>
</operation>
<operation name="approveNonStandingGIROTransaction">
<input wsam:Action="http://session.ws.ejb/MerlionBankWebService/approveNonStandingGIROTransactionRequest" message="tns:approveNonStandingGIROTransaction"/>
<output wsam:Action="http://session.ws.ejb/MerlionBankWebService/approveNonStandingGIROTransactionResponse" message="tns:approveNonStandingGIROTransactionResponse"/>
</operation>
</portType>
<binding name="MerlionBankWebServicePortBinding" type="tns:MerlionBankWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="addNewRecord">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveOnHoldRecordById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateOnHoldChequeNum">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveBankAccountByNum">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="debitBankAccount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="settleEachBankAccount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateAvailableBalance">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveChequeById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveReceivedChequeById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateReceivedChequeStatus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="receiveChequeInformationFromSACH">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveReceivedChequeByNum">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="rejectRegularGIROTransaction">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="rejectStandingGIROTransaction">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="rejectNonStandingGIROTransaction">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="approveNonStandingGIROTransaction">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="MerlionBankWebService">
<port name="MerlionBankWebServicePort" binding="tns:MerlionBankWebServicePortBinding">
<soap:address location="http://localhost:8080/MerlionBankWebService/MerlionBankWebService"/>
</port>
</service>
</definitions>